$title-background-color: #869686;

.title {
  display: inline-block;
  background-color: $title-background-color;
  line-height: 3rem;
  letter-spacing: 0.2rem;
  padding: 0.2rem 3rem 0.2rem 3rem;
  text-align: center;
}
